@page
@model SistemaEnxoval.Pages.Portal.IndexModel
@{
    Layout = "_LayoutPortal";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Quantidade Requerida</th>
            <th scope="col">Estoque</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listItems)
        {
            <tr>
                <th scope="row"></th>
                <td>@item.Item.Product</td>
                <td>@item.Item.Size</td>
                <td>@item.Item.Quantity</td>
                <td>
                    <input class="form-control form-control-sm" type="number" id="number-stock" value="@item.Stock" onchange="changeNumber(this, @item.Id, @item.Item.Quantity)" aria-label=".form-control-sm example">
                </td>
                <td id="status-stock-@item.Id">
                    @if (@item.Stock < @item.Item.Quantity)
                    {
                        <span class="badge bg-danger">Falta</span>
                    }
                    @if (@item.Stock == @item.Item.Quantity)
                    {
                        <span class="badge bg-success">Ok</span>
                    }
                    @if (@item.Stock > @item.Item.Quantity)
                    {
                        <span class="badge bg-primary">Ultrapassou</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function changeNumber(input, id, quantity) {
        if (input.value < 0) {
            input.value = 0
            return
        }

        fetch(`User/ChangeStock?id=${id}&stock=${input.value}`, {
            headers: {
                'Accept': 'application/json'
            }
        })
            .then(function (res) {
                var status = document.getElementById(`status-stock-${id}`)
                if (res.ok) {
                    if (input.value < quantity) {
                        status.innerHTML = "<span class='badge bg-danger'>Falta</span>"
                    }
                    if (input.value == quantity) {
                        status.innerHTML = "<span class='badge bg-success'>Ok</span>"
                    }
                    if (input.value > quantity) {
                        status.innerHTML = "<span class='badge bg-primary'>Ultrapassou</span>"
                    }
                }else{
                    window.location.href = '/index';
                }
            })
    }
</script>